<app-user [title]="'Edit note'"></app-user>
<div class="edit-note">
    <form class="edit-note__form mdc-card" [formGroup]="editNoteForm">
        <div class="mdc-text-field mdc-text-field--outlined">
            <input type="text" class="mdc-text-field__input"  formControlName="title" id="title">
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label class="mdc-floating-label mdc-floating-label--float-above">Title</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
        <div class="mdc-text-field mdc-text-field--textarea edit-note__content">
            <textarea class="mdc-text-field__input" formControlName="content" id="content"></textarea>
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label for="textarea" class="mdc-floating-label mdc-floating-label--float-above">Content</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
        <span class="mdc-typography--overline">Color: <input class="edit-note__color" [(colorPicker)]="color" [style.background]="color" [cpPosition]="'top'" id="color"></span>
        <div class="edit-note__buttons">
            <button routerLink="/note/{{item.id}}" type="button" class="mdc-button" id="back">
                <span class="mdc-button__label">Cancel</span>
            </button>
            <button type="submit" class="mdc-button mdc-button--raised" (click)="onSubmit(editNoteForm.value)" [disabled]="!editNoteForm.valid" id="submit">
                <span class="mdc-button__label">Save</span>
            </button>
        </div>
    </form>
</div>
